/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #000;
  color: #333;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
body .body-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: no-repeat url(../assets/img/bg.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: bgScale 1.5s 0.2s ease forwards;
          animation: bgScale 1.5s 0.2s ease forwards;
  opacity: 0.5;
}

@-webkit-keyframes bgScale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes bgScale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  transform: translate(-50%, -50%) scale(1.05);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  max-width: 80vw;
  opacity: 0;
  -webkit-animation: fadeLogo 1s 0.4s ease forwards;
          animation: fadeLogo 1s 0.4s ease forwards;
  display: block;
}
@media (max-width: 480px) {
  .logo {
    top: 20%;
  }
}

@-webkit-keyframes fadeLogo {
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes fadeLogo {
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
  }
}
.signup {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s 0.9s ease-out forwards;
          animation: fadeIn 0.5s 0.9s ease-out forwards;
}
.signup .headline {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Benton Sans Black", BentonSans-Black, sans-serif;
  margin: 0 0 25px;
  letter-spacing: 1px;
  white-space: nowrap;
}
.signup .button {
  display: inline-block;
  border: 2px solid #ED2653;
  color: #fff;
  font-family: "Benton Sans Black", BentonSans-Black, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 36px;
  height: 38px;
  padding: 0 18px;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.4s, -webkit-transform 0.2s;
  transition: background 0.4s, transform 0.2s;
}
.signup .button:hover {
  background: #ED2653;
}
.signup .button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
    bottom: 80px;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    bottom: 80px;
  }
}
