
/* TOP NUMBER 1 POST HEADER */


/* background for #1 post */
#header-one-bg {
	width: 680px;
	height: 340px;
	background: #1C1C1C;
	border: 1px solid #2B2B2B;
}

/* the digit "1" */
#header-one-rank {
	font-family: Benton Sans RE;
	font-size: 50px;
	color: #FFFFFF;
}

/* 1,212: */
#header-one-upvote-count{
	font-family: Benton Sans RE;
	font-size: 16px;
	color: #FFFFFF;
}

/* ALL FLOWS REACH OUT: */
.header-title{
	font-family: Benton Sans Black;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1px;
}

/* Definition of a rap : */
.header-artist{
	font-family: Benton Sans RE;
	font-size: 16px;
	color: #B5B5B5;
}

/* HIP-HOP: */
.tag-text{
	font-family: Benton Sans RE;
	font-size: 9px;
	color: $brandcolor;
}

/* TAG CONTAINER: */
.tag-container{
	height: 30px;
	border: 1px solid #2F2F2F;
}




/* SECOND AND THIRD POSTS */

/* Background: */
.header-twothree-bg {
	width: 480px;
	height: 160px;
	background: #1C1C1C;
	border: 1px solid #2B2B2B;
}


/* Oval 1 Copy 2: */
.header-twothree-upvote-circle {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: #1C1C1C;
	border: 2px solid $brandcolor;
}

/* the digits "2" and "3" that rank */
.header-twothree-rank {
	font-family: Benton Sans RE;
	font-size: 30px;
	color: #FFFFFF;
}

/* 1,001: */
#header-twothree-upvote-count{
	font-family: Benton Sans RE;
	font-size: 12px;
	color: #FFFFFF;
}


/* MUSIC FEED STYLES -- REGULAR POSTS */

/* background: */
.post-background{
	width: 1180px;
	height: 100px;
	margin-bottom: 10px;
	/*width: 100%;*/
	background: #1C1C1C;
	border: 1px solid #2B2B2B;
}

/* PRETTY LIGHTS: */
.post-title{
	font-family: Benton Sans Black;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 1px;
}

/* 4: */
.post-rank{
	font-family: Benton Sans RE;
	font-size: 20px;
	color: #FFFFFF;
}

/* So Bright ft. Eligh: */
.post-artist{
	font-family: Benton Sans RE;
	font-size: 14px;
	color: #B5B5B5;	
}

/* UPVOTE: */

.post-upvote-circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #1C1C1C;
	border: 2px solid $brandcolor;
}

/* LOAD MORE FOR TODAY: */
.load-more-day{
	font-family: Benton Sans RE;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
}

/* Upvote inactive: */
.post-upvote-inactive{
	background: #1C1C1C;
	border: 2px solid $brandcolor;
}

/* Upvote number count */
.post-upvote-count{
	font-family: Benton Sans RE;
	font-size: 11px;
	color: #FFFFFF;
}

/* Upvote active: */
.post-upvote-active{
	background: $brandcolor;
}



